﻿body {
	font-family: sans-serif;
	margin: 15px;
}

#customer-container {
	width: 775px;
	margin-right: 80px;
	float: left;
}

#customer-list {
	width: 520px;
}

.order-list-row,
.customer-list-row {
	padding: 5px 0;
}

#customer-edit-title,
#customer-list-title,
#order-edit-title,
#order-list-title {
	font-size: 20pt;
	font-weight: bold;
	padding: 10px 0;
}

#order-list div.order-list-row:nth-child(odd),
#customer-list div.customer-list-row:nth-child(odd) {
	background-color: #F0F8FF;
}

.customer-name,
.customer-email {
	width: 250px;
	display: inline-block;
	overflow: hidden;
	margin: 0 5px;
}

#customer-list-container {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

#customer-edit-container {
	display: inline-block;
}

.order-edit-row,
.customer-edit-row {
	padding: 5px 0;
}

.customer-edit-row .label {
	width: 50px;
	display: inline-block;
}

.order-edit-row .label {
	width: 100px;
	display: inline-block;
}

#order-container {
	float: left;
}

.order-price,
.order-date {
	width: 140px;
	display: inline-block;
	overflow: hidden;
	margin: 0 5px;
}

.order-date {
	width: 90px;
}

#order-list {
	width: 250px;
}

#order-list-container {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

#order-edit-container {
	display: inline-block;
}

.current-row {
	background-color: #87CEEB !important;
}

.button {
	border: 1px #000 solid;
	width: 28px;
	padding: 5px;
	text-align: center;
	float: right;
}